.w1600{
	width: 1600px;
	margin: 0 auto;
}
.topper{
	height: 45px;
	background: #010102;
	border-bottom: 1px solid #f5f5f5;
}
.topper div{
	width: 1258px;
	height: inherit;
	margin: 0 auto;
	line-height: 45px;
}
.topper div h1{
	font-size: 20px;
	color: #fff;
}
.topper div p a{
	font-size: 14px;
	color: #fff;
}
.topper div p{
	width: 112px;
	height: inherit;
	text-align: center;
}
.topper div .p1{
	padding-left: 25px;
}
.topper div i{
	width: 12px;
	height: 18px;
	background: url(../img/logo.png);
	margin-left:40px;
	margin-top: 13.5px;
}
.topper div p,.topper div h1,.topper div i{
	float: left;
}
.content{
	height: 1497px;
	background: #09070e;
	background-image: url(../img/icon.png);
	background-position: 156px -73px;
	background-repeat: no-repeat;
	overflow: hidden;
}
.content .content1{
	width: 1258px;
	height: 34px;
	line-height: 34px;
	font-size: 18px;
	color: #fff;
	margin: 25px auto;
}
.content .content2{
	width: 1258px;
	height: 1304px;
	margin: 0 auto;
	overflow: hidden;
}
.content .content2 ul{
	width: 1258px;
	height: 1304px;
	margin-top: -25px;
}
.content .content2 ul li{
	width: 1258px;
	height: 418px;
	margin-top:25px;
	background: #f5f5f5; 
}
.content .content2 ul li .img{
	float: left;
	margin-top: 44px;
	margin-left: 32px;
}
.content .content2 ul .li2 .img{
	margin-left: 30px;
}
.content .content2 ul li .text{
	float: left;
	width: 562px;
	height: 331px;
	margin-left: 23px;
	margin-top: 43px;
}
.content .content2 ul .li2 .text{
	margin-left: 32px;
}
.content2 ul li .p1{
	width: 400px;
	height: 20px;
	line-height: 20px;
	font-size: 20px;
	color: #3c3c3c;
	font-weight: bold;
	margin-bottom: 17px;
}
.content2 ul li i{
	display: block;
	width: 24px;
	height: 4px;
	background: url(../img/icon1.png) no-repeat;
	margin-bottom: 20px;
}
.content2 ul li .p{
	width: 562px;
	font-size: 14px;
	color: #3c3c3c;
	margin-bottom:10px;
}
.content .content3{
	width: 351px;
	height: 24px;
	margin: 36px 0px 0px 1080px;
	font-size: 12px;
}
.content .content3 a{
	float: left;
	width: 23px;
	height: 24px;
	line-height: 23px;
	text-align: center;
	background: #ebebeb;
	color: #757575;
	margin-left: 3px;
}
.content .content3 a:hover{
	background: #7b2783;
	color: #e0d3e1;
}
.content .content3 .a2{
	width: 53px;
}
.content .content3 .a3{
	width: 30px;
	margin-left: 0px;
}
.content .content3 .a4{
	margin-left: 0px;
}
.content .content3 span{
	float: left;
	height: 24px;
	line-height: 24px;
	text-align: center;
	background: #000;
	color: #fff;
}
.content .content3 .span1{
	width: 40px;
}
.content .content3 .span2{
	width: 28px;
}
.content .content3 input{
	float: left;
	width: 38px;
	height: 24px;
	background: #ebebeb;
}
.bottom{
	height: 86px;
	background: #f4f4f4;
	font-size: 14px;
	overflow: hidden;
}
.bottom .bottom-L{
	float: left;
	width: 378px;
	height: 17px;
	margin-top: 33px;
	margin-left: 172px;
}
.bottom .bottom-L ul{
	width: 378px;
	height: 17px;
	line-height: 17px;
}
.bottom .bottom-L ul li{
	float: left;
	width: 56px;
	height: 17px;
	text-align: center;
	margin-left: 31px;
}
.bottom .bottom-L ul .li1{
	width: 28px;
	margin-left: 0px;
}
.bottom .bottom-L ul li a{
	color: #666;
}
.bottom .bottom-R{
	float: left;
	width: 858px;
	height: 17px;
	margin-top: 33px;
	margin-left: 103px;
	color: #999;
}